crash-reports/
defultconfigs/
logs/
screenshots/
.mixin.out/
xaero/
kubejs/
moonlight-global-datapacks/
data/
backups/
shaderpacks/
defaultconfigs/
fancymenu_data/
rhino.local.properties
options.txt
usercache.json
usernamecache.json

config/asyncpaticles/
config/fabric/
config/fzzy_config/
config/jade/
config/jei/
config/konkrete/
essential/
.spyglass_astronomy/
cache/
local/
spiffy_instance_data/
fabricloader.log

servers.dat
servers.dat_old
servers.essential.dat
TrashSlotSaveState.json